/*hello world*/
 
.container {
    display: grid;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas:
        "logo header"
        "web  app";

    width: 100%;
    height: 100vh;
}

.logo {
    grid-area: logo;
    background-image: url('images/deSebastian_perfect_hue_167.jpg');
    padding: 5px;
}

.header {
    grid-area: header;
}

.web-content {
    grid-area: web;
}

.app-content {
    grid-area: app;
}